{% extends 'layout.html' %}
{% load static %}
{% load common %}
{% load permission %}

{% block css %}
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css' %}">
{% endblock %}


{% block content %}
    <div id="pageMsg"
         style="position: fixed; z-index: 9000; top: 48px; left:0;right:0; width: 300px;margin: 20px auto;">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">{{ message }}</div>
        {% endfor %}
    </div>
    {##}
        <div style="margin-bottom: 5px;">
            <!-- 权限判断 -->
            {% if request|has_permission:"add_user" %}
                <a class="btn btn-primary" href="{% url_plus request 'add_user' %}">添加</a>
            {% endif %}

            <div class="right">
                <form class="form-inline" method="GET">
                    <div class="form-group">
                        <input name="keyword" type="text" class="form-control" placeholder="请输入关键字" value="{{ keyword }}">
                    </div>
                    <button type="submit" class="btn btn-default">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </form>
            </div>
        </div>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>姓名</th>
            <th>账号</th>
            <th>手机号</th>
            <th>是否具有管理员权限</th>
            <th>创建（入职）时间</th>
            <th>选项</th>
        </tr>
        </thead>
        <tbody>
        {% for row in pager.queryset %}
            <tr>
                <td>{% loop_counter request forloop.counter %}</td>
{#                <td>{{ row.id }}</td>#}
                <td>{{ row.name }}</td>
                <td>{{ row.username }}</td>

                <td>{{ row.mobile }}</td>
                <td>
                    {% if row.get_is_admin_display == '不具有' %}
                        <a class="btn btn-info btn-xs"> {{ row.get_is_admin_display }} </a>
                    {% else %}
                        <a class="btn btn-success btn-xs"> {{ row.get_is_admin_display }} </a>
                    {% endif %}
                </td>
                <td>{{ row.create_date|date:"Y-m-d H:i:s" }}</td>

                <td>
                    <a class="btn btn-primary btn-xs" href="{% url_plus request 'edit_task' pk=row.id %}">编 辑</a>
                    <a class="btn btn-danger btn-xs" href="{% url_plus request 'delete_task' pk=row.id %}">删 除</a>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    {#    <div>#}
    {#        <a class="btn btn-info btn-xs" id="btnSendTask" href="{% url_plus request 'send_feishu' %}">发送测试进度</a>#}
    {#    </div>#}

    {{ pager.html }}

{% endblock %}

{% block js %}


    <script>
        setTimeout(function () {
            $("#pageMsg").empty();
        }, 5000);
    </script>
{% endblock %}

